<h1><%=@todo_list.title%></h1>


<ul class="todo_items">
  <% @todo_list.items.each do |item| %>
  <li><%= item.content %>
      <%= link_to "Edit", edit_todo_list_item_path(@todo_list, item) %>
      <%= link_to "Delete", todo_list_item_path(@todo_list, item), method: :delete, data: { confirm: "Are you sure?" } %>
      </li>
  <% end %>
</ul>

<p>
  <%= link_to "Add an item to your to-do list", new_todo_list_item_path %>
</p>
