<!DOCTYPE html>
<html>
<head>
  <title>Whichshouldido</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |type, message| %>
  <div class="alert flash <%= type %>">
    <%= message %>
  </div>
  <% end %>

    <header>
      <nav>
          <ul>
            <li> <%= link_to "Home", home_index_path %> |</li>
            <li> <%= link_to "About", home_about_path %> | </li>
            <li class="Logged">Log In</li>
          </ul>
      </nav>
      <h1>Which Should I Do???</h1>
    </header>

<%= yield %>

<footer>
  <h5>Like what you see? Consider hiring me! </h5>
  <h5><a href="http://www.daniellegellis.com">Check out the rest of my portfolio</a></h5>
</footer>

</body>
</html>
